@import "tailwindcss";

@theme {
  --font-sans: "JetBrains Mono", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-fade-in: fade 0.85s ease-in-out;
  --animate-rise: rise 0.85s ease-in-out;

  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes rise {
    0% {
      transform: translate(0, 40px);
    }

    70% {
      transform: translate(0, -5px)
    }

    100% {
      transform: translate(0px, 0px);
    }
  }
}

html,
body {
  @apply bg-white dark:bg-linear-120 dark:from-gray-950 dark:to-gray-800;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}